// BEGIN FOR TABLET
@media (max-width: 480px) {
    .carousel-inner>.item:nth-child(1){
        display: none;
    }
    .carousel-caption .teaser {
        font-size: 3.5rem;
    }
}
// END FOR TABLET

// BEGIN FOR MOBILE PHONE
@media screen and (max-width: 768px) { 
    #section-home{
        display: none;
    }
}
// END FOR MOBILE PHONE